$txt-color: #fff;

.hero{
    
    color: $txt-color;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    
    display: grid;
    grid-template-rows: 100px 1fr;

    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../images/reloj1.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 80%, 50% 95%, 0 80%, 0 0);
}

.hero__container{
    max-width: 800px;
    --padding-container: 0;

    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;

    .hero__title{
        font-size: 3rem;
    }

    .hero__paragraph{
        margin-bottom: 30px;
    }

    .cta{
        text-decoration: none;
        color: $txt-color;

        display: inline-block;
        background-color: #00bc48;
        justify-self: center;
        padding: 13px 30px;
        border-radius: 32px;

        transition: all 350ms;
        &:hover{
            transform: scale(1.1);
        }
    }
}