.title__details{

    text-align: center;

}
.container__details{

    padding: 2%;
    margin-top: 8%;
    border: 1px solid rgb(65, 65, 65);

    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;

    .img__details{

        width: 100%;

        img{
            width: 80%;
            border-radius: 5px;
        }
    }
}