$orange: #f07447;

.title__details{

    text-align: center;
    font-weight: 200;
}

.container__allDetails{
    margin-bottom: 1em;
}

.container__details{

    position: relative;

    padding: 2em;
    margin-top: 1em;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    background-color: #ffffff;

    .img__details{

        width: 100%;
        img{
            width: 80%;
        }
    }

    .data__details{

        width: 90%;
        height: 90%;

        margin-right: 10px;
        padding: 2em;
        border-radius: 5px;
        
        background-color: #fbe4db;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .details{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-weight: 300;
            padding: 10px;

            p{
                margin-top: 10px;
            }

            .spam{

                color: white;
                padding: 10px;
                background-color: $orange;
                border-radius: 5px;
            }
        }

        .price{
            font-weight: 600;
            font-size: 40px;

            color: #f06f40;
        }

        .count{
            text-align: center;
        }
    }
}

.container__features{

    background-color: #ffffff;
    height: min-content;
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

    .features{

        border: 1px solid $txt__red;
        border-radius: 5px;
        padding: 1em;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        h5{

            width: 120px;
            padding: 5px;

            .span{
                font-weight: 200;
            }
        }
    }
}

@media (max-width: 999px){

    .container__details{

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;

        .img__details{
            img{
                padding: 1em;
                width: 100%;
            }
        }
    }

    .container__features{
        
        .features{

            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fbe4db;
            border: none;

            h5{
                width: 250px;
                border-bottom: 1px solid $orange;
            }
        }
    }
}

@media (max-width: 668px){
    .container__details{
        grid-template-rows: 0.5fr 1fr;
    }
}

