.itemListContainer{
    font-family: 'Poppins', sans-serif;

    margin: auto;
    text-align: center;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .first__title{

        margin-top: 30px;
    }

}