.nav{

    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;

    .nav__title{
        font-weight: 300;
    }

    .nav__items{
        list-style-type: none;
    }

    .nav__link{
        margin-left: auto;
        padding: 0;

        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: 2em;
    }

    .nav__links{

        color: $txt-color;
        text-decoration: none;
        
        transition: all 350ms;
        &:hover{
            color: rgb(90, 90, 90);
        }
    }

    .nav__menu{
        margin-left: auto;
        cursor: pointer;
        display: none;
    }

    .nav__img{
        display: block;
        width: 30px;
    }

    .nav__close{
        display: var(--show, none);
    }
}

.logo{

    width: 30%;
    height: 30%;
}

.cartWidget{

    color: $txt-color;
    font-size: 28px;

    transition: color 350ms;
    &:hover{
        color: rgb(59, 59, 59);
    }
}